@import "~bulma/sass/utilities/_all.sass";
@import "~bulma/bulma";

.body-content {
	padding-top: $navbar-height
}

.title {
	color: $primary;
}

.home-logo {
	margin: auto;
	margin-bottom: 100px;
}

// Transitions

.newfade-enter, .newfade-leave-to {
	opacity: 0;
}
.newfade-enter-active, .newfade-leave-active {
	transition: opacity 0.5s ease;
}

.shrink-enter-active, .shrink-leave-active {
  transition-property: width;
  transition-duration: 5s;
 }


.shrink-leave-to {
 width: 20px;
}

.shrink-enter{
  width: 20px;
}

// navbar
.navbar {
	transition: all 0.5s ease-out;
	.navbar-brand {
		#brand-logo {
			position: fixed;
			height: $navbar-height;
			@include desktop {
				left: 10%;	
			};	
		}
	};
	.navbar-menu {
		height: $navbar-height;	
		position: fixed;
		right: 10%;
	}
	margin-bottom: $navbar-height !important;
}
