@import "~bulma/sass/utilities/_all.sass";
@import "~bulma/bulma";

.title {
	color: $primary;
}

// Transitions

.newfade-enter, .newfade-leave-to {
	opacity: 0;
}
.newfade-enter-active, .newfade-leave-active {
	transition: opacity 0.5s ease;
}

.shrink-enter-active, .shrink-leave-active {
  transition-property: width;
  transition-duration: 5s;
 }


.shrink-leave-to {
 width: 20px;
}

.shrink-enter{
  width: 20px;
}

// navbar
.navbar {
	transition: all 0.5s ease-out;
	.navbar-brand {
		#brand-logo {
			background-color: $white;
			position: fixed;
			height: 2*$navbar-height;
			@include mobile {
				height: $navbar-height
			}
		}
	}
	@include desktop {
		width: 80%;
		left: 10%;
		margin-bottom: $navbar-height;
	}
}
